endpoints:
  debian-12-cinnamon-squash:
    path: /debian-squash/releases/download/REPLACE_RELEASE_NAME/
    files:
    - filesystem.squashfs
    os: "debian"
    version: "REPLACE_VERSION"
    flavor: "cinnamon"
    kernel: "debian-12-live-kernel"
