endpoints:
  clonezilla-debian-stable-i686:
    path: /debian-squash/releases/download/REPLACE_RELEASE_NAME/
    files:
    - filesystem.squashfs
    - initrd
    - vmlinuz
    os: "clonezilla"
    version: "REPLACE_VERSION"
    flavor: "stable"
    kernel: "clonezilla-debian-stable-i686"
    arch: "i686"
