endpoints:
  parrot-home-kde:
    path: /debian-squash/releases/download/REPLACE_RELEASE_NAME/
    files:
    - filesystem.squashfs
    - initrd
    - vmlinuz
    os: "parrot"
    version: "current"
    flavor: "kde"
